body {
    margin: 0;
}

#kundenhar {
    display: grid;
    width:100vw;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 10% 35% 35% 2fr;
    grid-template-areas:
    'hd hd hd hd' 
    'nv nv nv nv'
    'sc1 sc2 sc2 sc3'
    'sc1 sc2 sc2 sc3'
    'sc1 sc2 sc2 sc3' ;
}

header {
    grid-area: hd;
    background-color: #2980b9; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto Mono', monospace;
}

nav {
    grid-area: nv;
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Roboto Mono', monospace;
    font-weight: bolder;
}



.section1 {
    grid-area: sc1;
    background-color: pink;
    align-items: left;
    justify-content: left;
    display: grid;
    font-family:'Roboto Mono', monospace;

}

.section2 {
    grid-area: sc2;
    background-color: white;
    display: grid;
    align-items: center ;
    justify-content: center;
    font-family:'Roboto Mono', monospace;
    padding-left: 75px;
}

.section3 {
    grid-area: sc3;
    background-color: pink;
    align-items: left ;
    justify-content: center;
    display: grid;
    padding-left: 25px ;

}


.knappar {
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    color: black;
    background-color: pink;
    justify-content:space-between;
    align-items:normal;
}

li {
    text-decoration: underline;
    
}

.applewatch {
    height: 240px;
    width: 240px;
}

.futuretech {
    height: 240px;
    width: 240px;
}

h1 {
    align-items: center;
    justify-content: center;
}

.documents {
    height: 240px;
    width: 240px;
}

.hellokitty {
    height: 75px;
    width: 75px;
}

.link {
    text-decoration: none;
    color: black;
}